<section>
  <div class="container-fluid px-3">
    <div class="ek-blank-h-50"></div>
    @if (playlist) {
      <div
        class="row align-items-center gap-4 gap-md-0 justify-content-center pb-4">
        <div class="col-sm-4 text-center">
          <img class="img-fluid rounded" [src]="playlist.images[0].url" />
        </div>
        <div class="col-sm-8 d-flex flex-column gap-4">
          <h1 class="text-center fs-3">
            <span class="ek-vintage-title me-3">{{ playlist.name }}</span>
            <app-icon
              width="30"
              height="30"
              path="icons/icons.svg#threeDotsVertical"
              data-bs-toggle="modal"
              data-bs-target="#playlistOptionsModal"></app-icon>
          </h1>
          @if (playlist.description) {
            <p class="text-center font-monospace mb-0">
              {{ playlist.description | stripHtml }}
            </p>
          }
        </div>
      </div>

      <ul class="list-group list-group-flush">
        @for (track of playlist.tracks.items; track $index) {
          <li
            role="button"
            (click)="play(track)"
            class="list-group-item ek-list-group-item border-secondary px-0 py-3 py-sm-2"
            [style.backgroundColor]="getListItemBgClass(track)">
            <div
              class="d-flex align-items-center gap-3"
              [class.ek-text-forest-green]="
                currentlyPlayingTrack?.id == track.track.id
              ">
              <div class="position-relative flex-shrink-0 ek-album-cover">
                <img
                  class="rounded img-fluid"
                  [src]="track.track.album.images[0].url"
                  alt="{{ track.track.name }}" />
                <app-icon
                  (click)="togglePlayback($event)"
                  color="var(--white)"
                  path="icons/icons.svg{{
                    currentlyPlayingTrack?.id === track.track.id && isPlaying
                      ? '#pauseCircle'
                      : '#playCircle'
                  }}"
                  class="ek-play-circle-icon position-absolute translate-middle top-50 start-50"
                  [ngClass]="{
                    'd-block': currentlyPlayingTrack?.id === track.track.id,
                    'd-none': currentlyPlayingTrack?.id !== track.track.id,
                  }"></app-icon>
              </div>

              <div
                class="d-flex flex-column flex-md-row gap-sm-2 overflow-hidden">
                <div class="fw-bold mb-0">
                  <div
                    class="text-truncate"
                    [class.ek-text-forest-green]="
                      currentlyPlayingTrack?.id == track.track.id
                    ">
                    {{ track.track.name }}
                  </div>
                </div>
                <div class="mb-0">
                  <div class="text-truncate">
                    {{ getJoinedArtists(track.track.artists) }}
                  </div>
                </div>
              </div>
              <div class="ms-auto flex-shrink-0">
                @if (isTrackSaved(track)) {
                  <app-icon
                    width="25"
                    height="25"
                    color="var(--dark-green)"
                    path="/icons/icons.svg#suitHeartFill"
                    (click)="onHeartClick(track, $event)">
                  </app-icon>
                }
                <app-icon
                  class="ms-2"
                  width="25"
                  height="25"
                  path="icons/icons.svg#threeDotsVertical"
                  data-bs-toggle="modal"
                  data-bs-target="#trackOptionsModal"
                  (click)="setSelectedTrack(track, $event)"></app-icon>
              </div>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</section>
<!-- Modal -->
<div
  class="modal"
  id="trackOptionsModal"
  tabindex="-1"
  aria-labelledby="trackOptionsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    @if (selectedTrack) {
      <div class="modal-content text-light border-0 bg-transparent">
        <div class="modal-body">
          <div class="d-flex gap-3 align-items-start">
            <img
              [src]="selectedTrack.track.album.images[0].url"
              class="rounded img-fluid ek-img-cover"
              alt="album image"
              width="75"
              height="75" />
            <div class="d-flex flex-column gap-2">
              <h5 class="fw-bold mb-0">
                {{ selectedTrack.track.name }}
              </h5>
              <p class="mb-0 fw-light">
                {{ getJoinedArtists(selectedTrack.track.artists) }}
              </p>
            </div>
          </div>
          <div
            class="d-flex align-items-start flex-column gap-4 mt-5 fw-bold ek-options-list-group">
            <div
              class="d-inline-flex align-items-center gap-3"
              (click)="save(selectedTrack)"
              data-bs-dismiss="modal">
              <app-icon path="icons/icons.svg#heart"></app-icon>
              <span>Like</span>
            </div>
            <div class="d-inline-flex align-items-center gap-3">
              <app-icon path="icons/icons.svg#share"></app-icon>
              <span>Share</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div
  class="modal"
  id="playlistOptionsModal"
  tabindex="-1"
  aria-labelledby="playlistOptionsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    @if (playlist) {
      <div class="modal-content text-light border-0 bg-transparent">
        <div class="modal-body">
          <div class="d-flex gap-3 align-items-start">
            <img
              [src]="playlist.images[0].url"
              class="rounded img-fluid ek-img-cover"
              alt="Playlist image"
              width="75"
              height="75" />
            <div class="fw-bold mb-0">
              {{ playlist.name }}
            </div>
          </div>
          <div
            class="d-flex align-items-start flex-column gap-4 mt-5 fw-bold ek-options-list-group">
            <div
              class="d-inline-flex align-items-center gap-3"
              (click)="redirecToSpotify()">
              <app-icon
                path="icons/icons.svg#spotify"
                color="var(--spotify-green)"></app-icon>
              <span>See on Spotify</span>
            </div>
            <div
              class="d-inline-flex align-items-center gap-3"
              (click)="likePlaylist()"
              data-bs-dismiss="modal">
              <app-icon path="icons/icons.svg#heart"></app-icon>
              <span>Like</span>
            </div>
            <div class="d-inline-flex align-items-center gap-3">
              <app-icon path="icons/icons.svg#share"></app-icon>
              <span>Share</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  @if (owner) {
    <div class="ek-owner-container">
      <span class="font-monospace ek-text-silver">
        by {{ playlist.owner.display_name }}
      </span>
      <img
        [src]="owner.images[0]?.url || 'person-circle.svg'"
        width="30"
        height="30"
        class="img-fluid rounded-circle" />
    </div>
  }
</div>
