<section>
  <h4 class="text-center fw-bolder mb-5 ek-wavy-underline-light-blue">
    Your Top Artists
  </h4>
  <div class="pb-3">
    <ul
      class="list-group border-end border-start border-secondary"
      role="button"
      tabindex="0">
      @for (artist of topArtists; track $index) {
        <li
          class="list-group-item ek-list-group-item bg-transparent border-0 d-flex align-items-center gap-3">
          <span class="fw-bolder text-success ek-track-index">
            #{{ $index + 1 }}
          </span>
          <img
            class="rounded flex-1"
            src="{{ artist.images[0].url }}"
            alt="{{ artist.name }}"
            width="40"
            height="40" />
          <div class="fw-bold d-flex flex-column gap-1 gap-sm-0">
            <a
              class="text-white link-underline link-light link-underline-opacity-0 link-underline-opacity-100-hover">
              {{ artist.name }}
            </a>
            <a
              class="mb-0 link-underline text-secondary link-secondary link-underline-opacity-0 link-underline-opacity-100-hover"
              role="button">
              {{ artist.genres[0] }}
            </a>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
