<section>
  <div class="container-fluid">
    <div class="col-sm-4 col-md-6 col-8 mx-auto my-5">
      <select
        #timeRange
        class="form-select bg-light"
        (change)="onTimeRangeChange(timeRange.value)">
        <option class="ek-option" value="short_term">Last 4 Weeks</option>
        <option class="ek-option" value="medium_term">Last 6 Months</option>
        <option class="ek-option" value="long_term" selected>All Time</option>
      </select>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
