<main class="text-white">
  <section>
    <div class="container pt-5">
      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 text-center">
          <h1 class="">Spotify Stats</h1>
          <h3 class="mb-5">& Music Discovery</h3>
          <div>
            <p class="opacity-75">
              <a
                class="fw-bolder ek-link-gradient"
                role="button"
                (click)="login()"
                >Sign in with Spotify</a
              >
              to see your stats and more!
            </p>
          </div>
        </div>
        <div class="col-md-4 rounded-50 overflow-hidden">
          <img
            src="spotify_music.jpg"
            class="img-fluid img-thumbnail"
            alt="Home Icon" />
        </div>
      </div>
    </div>
  </section>
</main>
