<div class="container">
  <main>
    @if (isAuthenticated) {
      <div class="p-5"></div>
      <h3 class="text-center ek-wavy-underline-dark-green">
        Welcome, {{ currentUser.display_name }}
      </h3>
      <div class="p-5"></div>
      <section class="my-5">
        @if (trendPlaylists && trendPlaylists.length) {
          <ng-container
            *ngTemplateOutlet="
              featuredPlaylistsTemplate;
              context: { playlists: trendPlaylists, heading: 'Trend Playlists' }
            "></ng-container>
        }
      </section>
      <section class="my-5">
        @if (playlistsByGenre && playlistsByGenre.length) {
          <ng-container
            *ngTemplateOutlet="
              featuredPlaylistsTemplate;
              context: {
                playlists: playlistsByGenre,
                heading: 'Based on Your Taste',
              }
            "></ng-container>
        }
        @if (currentUsersPlaylists && currentUsersPlaylists.length) {
          <ng-container
            *ngTemplateOutlet="
              featuredPlaylistsTemplate;
              context: {
                playlists: currentUsersPlaylists,
                heading: 'Your Playlists',
              }
            "></ng-container>
        }
      </section>
    } @else {
      <section>
        <ng-container *ngTemplateOutlet="unauthenticated"></ng-container>
      </section>
    }
  </main>
</div>

<ng-template #unauthenticated>
  <div class="row justify-content-evenly align-items-center">
    <div class="col-md-6 text-center">
      <h1>Welcome to Magic Spotify</h1>
      <h3 class="mb-5">
        <a class="link text-white" (click)="login()" role="button"
          >Sign in with Spotify</a
        >
      </h3>
    </div>
    <div class="col-md-4 rounded-50 overflow-hidden">
      <img
        src="spotify_music.jpg"
        class="img-fluid img-thumbnail"
        alt="Home Icon" />
    </div>
  </div>
</ng-template>

<ng-template
  #featuredPlaylistsTemplate
  let-playlists="playlists"
  let-heading="heading">
  <h3
    class="text-center font-monospace fw-semibold fs-5 mb-3 ek-wavy-underline-deep-sky-blue">
    {{ heading }}
  </h3>

  <div class="col-md-12 mx-auto">
    <swiper-container
      effect="card"
      grab-cursor="true"
      autoplay="true"
      speed="1000"
      slides-per-view="4"
      space-between="20">
      @for (playlist of playlists; track $index) {
        <swiper-slide lazy="true" class="p-1">
          <div class="card mb-3 pb-3 position-relative">
            <img
              src="{{ playlist.images[0].url }}"
              class="card-img-top"
              alt="{{ playlist.name }}" />

            <div class="card-body">
              <h6 class="text-center text-muted text-truncate">
                {{ playlist.name }}
              </h6>
            </div>
            <button
              class="btn btn-outline-success w-75 mx-auto position-relative"
              routerLink="/playlist/{{ playlist.id }}">
              Spotify
              <i class="bi bi-spotify"></i>
            </button>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ng-template>
