<div class="container">
  @if (!isAuthenticated) {
    <div class="ek-container-fluid" #containerFluid>
      <ngx-typed-js
        [strings]="strings"
        [typeSpeed]="30"
        [showCursor]="false"
        [backDelay]="5000"
        (stringTyped)="onStringTyped($event)"
        (preStringTyped)="onPreStringTyped()"
        (lastStringBackspaced)="onLastStringBackspaced()"
        [loop]="true">
        <figure class="text-center px-2">
          <blockquote class="blockquote fs-3">
            <p class="typing"></p>
          </blockquote>
          @if (isAuthorShown) {
            <figcaption class="blockquote-footer">
              <cite title="Source Title">{{ currentAuthor }}</cite>
            </figcaption>
          }
        </figure>
      </ngx-typed-js>
      <div
        class="ek-arrow-down bg-success border border-2 border-success rounded-circle"
        (click)="autoScroll()"
        #autoScrollArrow>
        <app-icon
          width="30"
          height="30"
          path="icons/icons.svg#arrowDownCircleFill"></app-icon>
      </div>
    </div>
  }

  @if (isAuthenticated) {
    @if (currentUser) {
      <div class="ek-blank-h-100"></div>
      <div class="row align-items-md-center">
        <div class="col-md-8">
          <h3 class="text-center font-monospace">
            Welcome, {{ currentUser.display_name }}
          </h3>
        </div>
        <div class="col-md-4">
          <img
            [src]="currentUser.images[0]?.url || 'music_lonely.png'"
            [alt]="currentUser.display_name"
            class="img-fluid rounded-circle ek-img-square ek-img-cover" />
        </div>
      </div>
    }
    <section>
      @if (trendPlaylists && trendPlaylists.length) {
        <ng-container
          *ngTemplateOutlet="
            featuredPlaylistsTemplate;
            context: {
              playlists: trendPlaylists,
              heading: 'Featured Playlists',
            }
          "></ng-container>
      }
    </section>
  } @else {
    <section>
      <ng-container *ngTemplateOutlet="unauthenticated"></ng-container>
    </section>
  }
</div>

<ng-template #unauthenticated>
  <div
    class="ek-parallax-container d-flex flex-column flex-md-row align-items-center justify-content-center"
    #parallaxContainer>
    <div
      class="ek-parallax-left col-md-7 d-flex flex-column align-items-center gap-3">
      <h1 class="fs-2">Welcome to Magic Spotify</h1>
      <button
        class="btn btn-lg btn-outline-light ek-btn-cross-rounded d-inline-flex gap-2 align-items-center justify-content-center fw-semibold"
        (click)="login()">
        Sign in with
        <app-icon
          path="icons/icons.svg#spotify"
          color="var(--forest-green)"
          width="30"
          height="30">
        </app-icon>
      </button>
    </div>
    <div class="ek-parallax-right col-md-4 overflow-hidden">
      <img
        src="spotify_music.jpg"
        class="img-fluid rounded-2"
        alt="Home Icon" />
    </div>
  </div>
</ng-template>

<ng-template
  #featuredPlaylistsTemplate
  let-playlists="playlists"
  let-heading="heading">
  <h3
    class="text-center font-monospace fw-semibold fs-5 mb-3 ek-wavy-underline-deep-sky-blue">
    {{ heading }}
  </h3>
  <div class="col-md-12 mx-auto">
    <swiper-container
      effect="card"
      grab-cursor="true"
      autoplay="true"
      speed="1000"
      slides-per-view="4"
      space-between="20">
      @for (playlist of playlists; track $index) {
        <swiper-slide lazy="true" class="p-1">
          <div class="card mb-3 pb-3 position-relative">
            <img
              src="{{ playlist.images[0].url }}"
              class="card-img-top"
              alt="{{ playlist.name }}" />
            <div class="card-body">
              <h6 class="text-center text-muted text-truncate">
                {{ playlist.name }}
              </h6>
            </div>
            <button
              class="btn btn-outline-success w-75 mx-auto position-relative"
              routerLink="/playlist/{{ playlist.id }}">
              See More
              <i class="bi bi-spotify"></i>
            </button>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ng-template>
