<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 ek-hero-container">
        <img src="/images/Playlist-amico.png" class="ek-hero-img" />
      </div>
      <div
        class="col-md-5 d-flex flex-column align-items-center justify-content-center gap-3">
        <h1 class="fs-2" style="color: var(--dark-green)">Beatify.io</h1>
        <button
          class="btn btn-lg btn-outline-success d-inline-flex gap-2 align-items-center justify-content-center fw-semibold"
          (click)="signIn()">
          Sign in with
          <app-icon
            path="icons/icons.svg#spotify"
            color="var(--spotify-green)"
            width="30"
            height="30">
          </app-icon>
        </button>
      </div>
    </div>
  </div>
</section>
