<section>
  <h4 class="text-center fw-bolder mb-5 ek-wavy-underline-light-blue">
    Your Top Tracks
  </h4>
  <div class="pb-3">
    <ul class="list-group" tabindex="0">
      @for (track of topTracks; track $index) {
        <li
          class="list-group-item ek-list-group-item border-0 bg-transparent d-flex align-items-center gap-3">
          <span class="fw-bolder text-success ek-track-index">
            #{{ $index + 1 }}
          </span>
          <img
            class="rounded flex-1"
            src="{{ track.album.images[0].url }}"
            alt="{{ track.name }}"
            width="40"
            height="40" />
          <div class="fw-bold d-flex flex-column gap-1 gap-sm-0">
            <a
              class="text-white link-underline link-light link-underline-opacity-0 link-underline-opacity-100-hover">
              {{ track.name }}
            </a>
            <a
              class="mb-0 link-underline text-secondary link-secondary link-underline-opacity-0 link-underline-opacity-100-hover"
              role="button">
              {{ track.artists[0].name }}
            </a>
          </div>
          <div>
            <a class="text-white"
              ><img src="play-fill.svg" alt="play" width="25" height="25"
            /></a>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
