<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 ek-hero-container">
      <img src="/images/spotify_music.jpg" class="ek-hero-img" />
    </div>
    <div class="col-md-5">
      <section>
        <div
          class="d-flex flex-column flex-md-row align-items-center justify-content-md-between">
          <div class="col-md-5 d-flex flex-column align-items-center gap-3">
            <h1 class="fs-2">Welcome to Magic Spotify</h1>
            <button
              class="ek-btn-cross-rounded btn btn-lg btn-outline-success d-inline-flex gap-2 align-items-center justify-content-center fw-semibold"
              (click)="signIn()">
              Sign in with
              <app-icon
                path="icons/icons.svg#spotify"
                color="var(--forest-green)"
                width="30"
                height="30">
              </app-icon>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
