.ek-navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.ek-navbar-hidden {
  transform: translateY(-100%);
}

.ek-navbar-visible {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.ek-navbar-login-btn:hover .ek-navbar-spotify-icon {
  fill: var(--lime-green);
}
