<div class="text-center ek-bg-emerald py-5 px-3 fw-bold font-monospace">
  <div class="d-flex flex-wrap justify-content-center gap-1">
    <p>&copy;2024 Magic Music.</p>
    <p>All rights reserved.</p>
  </div>

  <p>
    Made with
    <app-icon
      path="icons/icons.svg#magic"
      color="var(--flame-scarlet)"></app-icon>
    by
    <a
      class="link text-white"
      href="https://www.github.com/javamercy"
      target="_blank"
      rel="noopener noreferrer"
      >Emrecan</a
    >.
  </p>
</div>
