.ek-genre-input {
  border: none;
  box-shadow: 0 0 15px var(--dark-gray);
}

.ek-genre-input:focus {
  box-shadow: 0 0 15px var(--neon-green);
}

.ek-genre-btn {
  box-shadow: 0 0 15px var(--dark-gray);
}

.ek-genre-btn:hover {
  box-shadow:
    0 0 10px var(--neon-green),
    0 0 20px var(--neon-green),
    0 0 30px var(--neon-green);
}
