@if (tracks) {
  <app-track-swipe
    [audioRef]="audioRef"
    [genre]="genres[0]"
    [likedTracks]="likedTracks"
    [tracks]="tracks"></app-track-swipe>
}
<!-- @if (genres && genres.length > 0) {
  <swiper-container
    grid
    slides-per-view="4"
    autoplay="true"
    autoplay-delay="0"
    autoplay-disable-on-interaction="false"
    speed="1250">
    @for (genre of genres; track $index) {
      <swiper-slide>
        <div class="btn btn-lg btn-outline-info">{{ genre }}</div>
      </swiper-slide>
    }
  </swiper-container>
} -->

<div class="py-5"></div>

<div class="py-5"></div>
<div class="py-5"></div>
