.ek-card-btn {
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
  cursor: pointer;
}

.ek-play-btn {
  transform: scale(1.15);
  transition: transform 0.2s;
  filter: brightness(0) saturate(100%) invert(28%) sepia(97%) saturate(3201%)
    hue-rotate(343deg) brightness(88%) contrast(92%);
}
