:root {
  /* green */
  --lime-green: #32cd32;
  --spring-green: #00ff7f;
  --forest-green: #228b22;
  --dark-green: #006400;
  --neon-green: #39ff14;

  /* blue */
  --light-blue: #add8e6;
  --sky-blue: #87ceeb;
  --deep-sky-blue: #00bfff;
  --dodger-blue: #1e90ff;

  /* purple */
  --medium-purple: #9370db;
  --blue-violet: #8a2be2;
  --dark-violet: #9400d3;

  /* gray */
  --light-gray: #d3d3d3;
  --silver: #c0c0c0;
  --dark-gray: #a9a9a9;
  --dim-gray: #696969;

  /* white */
  --white: #ffffff;
}

.ek-text-lime-green {
  color: var(--lime-green) !important;
}

.ek-text-spring-green {
  color: var(--spring-green) !important;
}

.ek-text-forest-green {
  color: var(--forest-green) !important;
}

.ek-text-dark-green {
  color: var(--dark-green) !important;
}

.ek-text-neon-green {
  color: var(--neon-green) !important;
}

.ek-shadow-dark-green-100:hover {
  box-shadow: 0 0 10px var(--dark-green);
}

.ek-shadow-dark-green-100:focus {
  box-shadow: none;
}

.ek-shadow-neon-green-300:hover {
  box-shadow:
    0 0 10px var(--neon-green),
    0 0 20px var(--neon-green),
    0 0 30px var(--neon-green);
}

.ek-shadow-neon-green-300:focus {
  box-shadow: none;
}

.ek-text-light-blue {
  color: var(--light-blue) !important;
}

.ek-text-sky-blue {
  color: var(--sky-blue) !important;
}

.ek-text-deep-sky-blue {
  color: var(--deep-sky-blue) !important;
}

.ek-text-dodger-blue {
  color: var(--dodger-blue) !important;
}

.ek-text-medium-purple {
  color: var(--medium-purple) !important;
}

.ek-text-blue-violet {
  color: var(--blue-violet) !important;
}

.ek-text-dark-violet {
  color: var(--dark-violet) !important;
}

.ek-text-light-gray {
  color: var(--light-gray) !important;
}

.ek-text-silver {
  color: var(--silver) !important;
}

.ek-text-dark-gray {
  color: var(--dark-gray) !important;
}

.ek-text-dim-gray {
  color: var(--dim-gray) !important;
}

.ek-bg-lime-green {
  background-color: var(--lime-green) !important;
}

.ek-bg-spring-green {
  background-color: var(--spring-green) !important;
}

.ek-bg-forest-green {
  background-color: var(--forest-green) !important;
}

.ek-bg-dark-green {
  background-color: var(--dark-green) !important;
}

.ek-bg-neon-green {
  background-color: var(--neon-green) !important;
}

.ek-bg-light-blue {
  background-color: var(--light-blue) !important;
}

/* gray bg*/
.ek-bg-light-gray {
  background-color: var(--light-gray) !important;
}

.ek-bg-silver {
  background-color: var(--silver) !important;
}

.ek-bg-dark-gray {
  background-color: var(--dark-gray) !important;
}

.ek-bg-dim-gray {
  background-color: var(--dim-gray) !important;
}

.ek-bg-sky-blue {
  background-color: var(--sky-blue) !important;
}

.ek-bg-deep-sky-blue {
  background-color: var(--deep-sky-blue) !important;
}

.ek-bg-dodger-blue {
  background-color: var(--dodger-blue) !important;
}

.ek-bg-medium-purple {
  background-color: var(--medium-purple) !important;
}

.ek-bg-blue-violet {
  background-color: var(--blue-violet) !important;
}

.ek-bg-dark-violet {
  background-color: var(--dark-violet) !important;
}

.ek-border-dotted-spring-green {
  border: 2px dotted var(--spring-green) !important;
}

.ek-link-gradient {
  font-weight: bold;
  background: linear-gradient(to right, var(--lime-green), var(--white));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 0.5s ease; /* Transition background-position */
  text-decoration: none; /* To remove underline from the link */
}

.ek-link-gradient:hover {
  background-position: 100% 0;
}

.ek-wavy-underline-lime-green {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--lime-green);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-spring-green {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--spring-green);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-forest-green {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--forest-green);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-dark-green {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--dark-green);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-light-blue {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--light-blue);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-sky-blue {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--sky-blue);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-deep-sky-blue {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--deep-sky-blue);
  text-underline-offset: 0.2em;
}

.ek-wavy-underline-dodger-blue {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--dodger-blue);
  text-underline-offset: 0.2em;
}
.ek-track-index {
  display: inline-block;
  width: 25px;
  text-align: right;
  flex-shrink: 0;
}

.ek-album-cover {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.ek-option {
  background-color: #16222a;
  padding-inline: 1rem !important;
  color: inherit;
}

.ek-scale-hover:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.ek-option:hover {
  background-color: #16222a !important;
  color: var(--lime-green) !important;
}
.ek-list-group-item:hover {
  background-color: #232323 !important;
}

.ek-list-group-item:hover .ek-play-circle-icon {
  display: block !important;
}

.ek-box-shadow {
  box-shadow:
    0 0 10px var(--dark-green),
    0 0 20px var(--forest-green);
}

.ek-blank-h-150 {
  height: 150px;
  background: transparent;
}

.ek-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ek-scroll-item {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

.ek-scroll-item.animate {
  animation: scroll var(--animation-duration) linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--overflow-width));
  }
  100% {
    transform: translateX(0);
  }
}

html,
body {
  height: 100%;
}
body {
  background-color: #121212 !important;
  color: #ffffff !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}

img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
