@if (currentTrack && currentTrack.preview_url) {
  <div
    class="fixed-bottom bottom-0 start-0 pb-2 mx-3"
    [@slideInOut]="playerState">
    <div class="d-flex justify-content-between px-2">
      <app-icon
        width="30"
        height="30"
        color="red"
        path="icons/icons.svg#xCircleFill"
        (click)="close()"></app-icon>
      <app-icon
        width="35"
        height="35"
        color="var(--lime-green)"
        path="icons/icons.svg#arrowRight"
        class="ek-music-player-hider"
        (click)="hide()"></app-icon>
    </div>
    <div class="ek-music-player fw-bold p-2 rounded p-1 position-relative">
      <div class="d-flex align-items-center gap-2">
        <img
          [src]="currentTrack.album.images[0].url"
          class="img-fluid rounded-2"
          width="45" />

        <div class="d-flex flex-column overflow-hidden m-2">
          <div class="ek-scroll-container" appTextScroll>
            <div class="ek-text-spring-green ek-scroll-item">
              {{ currentTrack.name }}
            </div>
          </div>
          <div class="ek-scroll-container" appTextScroll>
            <div class="ek-text-silver ek-scroll-item">
              {{ currentTrack.artists[0].name }}
            </div>
          </div>
        </div>

        <div class="d-flex gap-2 ms-auto me-2">
          <app-icon
            width="25"
            height="25"
            path="icons/icons.svg#backward"></app-icon>
          <app-icon
            width="30"
            height="30"
            path="icons/icons.svg{{
              isPlaying ? '#pauseCircleFill' : '#playCircleFill'
            }}"></app-icon>
          <app-icon
            width="25"
            height="25"
            path="icons/icons.svg#forward"></app-icon>
        </div>
      </div>
      <audio
        #audioRef
        (timeupdate)="onTimeUpdate()"
        (ended)="onTrackEnded()"
        [autoplay]="true"
        [src]="currentTrack?.preview_url"></audio>
    </div>
  </div>

  @if (!showPlayer) {
    <div class="ek-player-menu-icon">
      <app-icon
        width="50"
        height="50"
        color="var(--white)"
        path="icons/icons.svg#{{ isPlaying ? 'pauseFill' : 'playFill' }}"
        (click)="show()"
        [appCircularProgressBar]="{
          percentage: progress,
          color: 'var(--dark-green)',
        }">
      </app-icon>
    </div>
  }
}
