.ek-progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: transparent;
  border-radius: 5px;
}

.ek-progress-bar {
  height: 100%;
  width: 100%;
  background-color: var(--silver);
}

.ek-progress {
  height: 100%;
  width: 100%;
  background-color: var(--flame-scarlet);
}

.ek-music-player-hider {
  animation: jump 1s ease-in-out infinite 1s;
}

@keyframes jump {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.ek-music-player-close:hover,
.ek-music-player-hider:hover {
  animation: none;
  transform: scale(1.1);
}

/* ------------------------------ */

.ek-player-menu-icon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

.animate__animated.animate__fadeInRight {
  animation-name: fadeInRight;
}

.animate__animated.animate__fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
