@if (currentTrack && currentTrack.preview_url) {
  <div
    class="fixed-bottom bottom-0 start-0 pb-2 mx-3"
    [@slideInOut]="playerState">
    <div class="d-flex justify-content-between px-2">
      <app-icon
        width="30"
        height="30"
        color="red"
        path="icons/icons.svg#xCircleFill"
        (click)="close()"></app-icon>
      <app-icon
        width="35"
        height="35"
        color="var(--lime-green)"
        path="icons/icons.svg#arrowRight"
        class="ek-music-player-hider"
        (click)="hide()"></app-icon>
    </div>
    <div class="ek-music-player fw-bold p-2 rounded p-sm-3 position-relative">
      <div class="d-flex mb-1 align-items-center gap-2">
        <img
          [src]="currentTrack.album.images[0].url"
          class="img-fluid rounded-circle"
          width="60" />

        <div class="d-flex flex-column overflow-hidden m-2">
          <div class="ek-scroll-container" appTextScroll>
            <div class="ek-text-spring-green ek-scroll-item">
              {{ currentTrack.name }}
            </div>
          </div>
          <div class="ek-scroll-container" appTextScroll>
            <div class="ek-text-silver ek-scroll-item">
              {{ currentTrack.artists[0].name }}
            </div>
          </div>
        </div>

        <div class="ms-auto ek-controls">
          <div>
            <img
              [src]="
                (isPlaying | async) ? 'pause-circle.svg' : 'play-circle.svg'
              "
              alt="toggle"
              (click)="toggle()" />
          </div>
        </div>
        <div class="ek-progress-container">
          <div class="ek-progress" [ngStyle]="{ width: progress }"></div>
        </div>
      </div>
      <audio
        #audioRef
        (timeupdate)="onTimeUpdate()"
        (ended)="onTrackEnded()"
        [autoplay]="true"
        [src]="currentTrack?.preview_url"></audio>
    </div>
  </div>

  @if (!showPlayer) {
    <div class="ek-player-menu-icon">
      <app-icon
        width="50"
        height="50"
        color="var(--white)"
        path="icons/icons.svg#playFill"
        (click)="show()"
        [appCircularProgressBar]="{
          percentage: progress,
          color: 'var(--dark-green)',
        }">
      </app-icon>
    </div>
  }
}
