@if (tracks && tracks.length) {
  <div class="d-flex gap-4 justify-content-center align-items-center mb-4">
    <h2 class="fs-3">{{ genre }}</h2>
    <div class="form-check form-switch">
      <input
        class="form-check-input ek-switch"
        type="checkbox"
        role="switch"
        id="autoPlaySwitch"
        (change)="switchAutoplay()"
        [checked]="autoplay" />
      <label class="form-check-label" for="autoPlaySwitch"></label>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-sm-5 col-lg-3 col-6">
      <swiper-container
        #swiperContainer
        effect="cards"
        grap-cursor="true"
        slides-per-view="auto">
        @for (track of tracks; track $index) {
          <swiper-slide
            lazy="true"
            class="overflow-hidden rounded"
            [class.ek-box-shadow]="currentlyPlayingTrack?.id === track.id">
            <div class="card position-relative">
              <img
                class="card-img-top"
                src="{{ track.album.images[0].url }}"
                alt="{{ track.name }}" />
              <div
                class="card-body border-0"
                [appAverageColor]="track.album.images[0].url">
                <div class="ek-scroll-container mb" appTextScroll>
                  <span
                    class="ek-scroll-item fw-bold"
                    [class.animate]="track.id === currentlyPlayingTrack?.id">
                    {{ track.name }}
                  </span>
                </div>
                <div class="ek-scroll-container" appTextScroll>
                  <span
                    class="ek-scroll-item"
                    [class.animate]="track.id === currentlyPlayingTrack?.id">
                    {{ track.artists[0].name }}
                  </span>
                </div>
                <div class="d-flex justify-content-end gap-4 mt-2">
                  <app-icon
                    width="25"
                    height="25"
                    path="icons/icons.svg{{
                      currentlyPlayingTrack?.id === track.id && isPlaying
                        ? '#pauseCircle'
                        : '#playCircle'
                    }}
                    "
                    (click)="togglePlay(track)"></app-icon>
                  <app-icon
                    width="25"
                    height="25"
                    path="icons/icons.svg{{
                      isAlreadyLiked(track) ? '#heartFill' : '#heart'
                    }}"
                    (click)="toggleLike(track)"></app-icon>
                </div>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
}
