@if (tracks && tracks.length) {
  <h2 class="text-center mb-5 ek-wavy-underline-dodger-blue">{{ genre }}</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-5 col-lg-3 col-6">
      <swiper-container
        #swiperContainer
        effect="cards"
        grap-cursor="true"
        slides-per-view="auto">
        @for (track of tracks; track $index) {
          <swiper-slide
            lazy="true"
            class="overflow-hidden rounded"
            [class.ek-box-shadow]="nowPlayingTrack?.id === track.id">
            <div class="card position-relative">
              <img
                class="card-img-top"
                src="{{ track.album.images[0].url }}"
                alt="{{ track.name }}" />
              <div
                class="card-body border-0"
                [appAverageColor]="track.album.images[0].url">
                <div class="ek-scroll-container mb-2" appTextScroll>
                  <span
                    class="ek-scroll-item fw-bold"
                    #scrollItem
                    [class.animate]="track.id === nowPlayingTrack?.id">
                    {{ track.name }}
                  </span>
                  <div
                    class="ek-scroll-item"
                    #scrollItem
                    [class.animate]="track.id === nowPlayingTrack?.id">
                    {{ track.artists[0].name }}
                  </div>
                </div>

                <div class="text-end">
                  <img
                    class="img-fluid"
                    role="button"
                    [src]="
                      isAlreadyLiked(track) ? 'heart-fill.svg' : 'heart.svg'
                    "
                    width="35"
                    height="35"
                    (click)="toggleLike(track)" />
                </div>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
}
<audio #audioRef></audio>
